// .Banner .Colection{
//   img{
//     width: 100%;
//     height: 100%;
//     margin-top: -20px;
//   }
// }
.Slider{
  border: none;
  height: 500px;
}
.Slider .Img{
  width: 100%;
  height: 100%;
  border-radius: unset;
}
