.Cost{
  text-decoration:line-through;
  font-size: 10px;
}
.ColorFont
{
  color: #A20401;
  border-color: #A20401;
  padding: 2px;
}

.Color{
  background-color: #A20401;
  padding: 10px;
}
.description{
  font-size: 15px;
}
