.Cost{
  text-decoration:line-through;
  font-size: 12px;
}
.ColorFont
{
  color: #81513F;
  border-color: #81513F;
  padding: 2px;
}

.Color{
  background-color: #F3BE97;
  padding: 10px;
}
.description{
  font-size: 15px;
}
.name{
  font-size: 15px;
}
.card {
  background: 'initial',
}
// .fontSize{
//   padding-top: -2px;
//   padding-left: -2px;
// }
.edition{
  padding-left: 5px;
  padding-right: 5px;
}
// .image{
//   height: 100%;
// }
